[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
ipython = "*"
ipdb = "*"
pyyaml = "*"
docker-crate = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.7"
